.Home {
    background-color: var(--background-green);
} 

.Home-text-large {
    color: var(--text-yellow);
    text-align: center;
    text-shadow: var(--text-shadow);
    font-size: calc(10px + 3vmin);
}

.Home-text-med {
    color: var(--text-yellow);
    text-align: center;
    text-shadow: var(--text-shadow);
    font-size: calc(10px + 2vmin);
}

.Home-text-small {
    color: var(--text-yellow);
    text-align: center;
    text-shadow: var(--text-shadow);
    font-size: calc(10px + 1vmin);
}