label {
    display: block;
    width: 100%;
    color: var(--text-yellow);
    text-shadow: var(--text-shadow);
    font-size: x-large;
    padding-bottom: 15px;
}

form {
    margin-left: 30px;
}

.checkbox-style {
    height: 25px;
}

.show-content {
    display: block;
}

.hide-content {
    display: none;
}

.RSVP-button {
    color: black;
    border: 1px solid rgb(32, 41, 24);
    border-radius: 10px;
    padding: 10px 25px;
    display: block;
    width: 140px;
    margin-left: 80px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: var(--text-yellow);
    background-color: rgb(70, 85, 57);
}

.RSVP-label-text {
    vertical-align: top;
}

.RSVP-button:hover {
  cursor: pointer;
}

.RSVP-info {
    color: var(--text-yellow);
    text-shadow: var(--text-shadow);
    font-size: smaller;
    margin-left: 30px;
}

 .RSVP-numfield {
    width: 40px;
 }

@media (max-width: 500px){
    label {
        display: block;
        width: 100%;
        color: var(--text-yellow);
        text-shadow: var(--text-shadow);
        font-size: medium;
        padding-bottom: 15px;
    }
    
    .checkbox-style {
        height: 15px;
    }
}

@media (min-width: 500px) {
    .RSVP-mobile-break {
        display: none;
    }
}